body {
  background-color: #2e3845;
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: white;
}
.container {
  padding: 0 2rem 2rem 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}
.card {
  list-style: none;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
  border-radius: 20px;
  max-width: 15rem;
  min-width: 15rem;
  position: relative;
  height: 25rem;
}
.card-id {
  font-size: 5rem;
  font-style: italic;
  margin-right: 1rem;
  color: white;
  opacity: 0.5;
}
.card-id-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 1rem;
}
.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 3rem;
}
.card-type-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}
.card-type {
  font-weight: lighter;
  color: white;
  margin-top: 5px;
  width: 4rem;
  padding: 0.25em 0.5em;
  border-radius: 2em;
  border: none;
  text-align: center;
}
.card-type::first-letter {
  text-transform: uppercase;
}
#types-area {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
}
.card-image {
  height: 180px;
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  top: 2rem;
}
.stats-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
}
.stat {
  display: flex;
  flex-direction: column;
  width: 14%;
  font-size: 1rem;
}
.stat-name {
  font-weight: bold;
  font-size: 0.7rem;
}
/*Defino los colores de los tipos para que se aplique segun el primer tipo de cada pokemon*/
.type-all {
  background-color: white;
  color: grey;
}
.type-steel {
  background-color: rgb(168,168,192);
}
.type-water {
  background-color: rgb(56,153,248);
}
.type-bug {
  background-color: rgb(168,184,32);
}
.type-dragon {
  background-color: rgb(160,80,56);
}
.type-electric {
  background-color: rgb(248,208,48);
}
.type-ghost {
  background-color: rgb(96,96,176);
}
.type-fire {
  background-color: rgb(240,80,48);
}
.type-fairy {
  background-color: rgb(231,159,231);
}
.type-ice {
  background-color: rgb(88,200,224);
}
.type-fighting {
  background-color: rgb(160,80,56);
}
.type-normal {
  background-color: rgb(168,160,144);
}
.type-grass {
  background-color: rgb(120,200,80);
}
.type-psychic {
  background-color: rgb(248,112,160);
}
.type-rock {
  background-color: rgb(184,160,88);
}
.type-dark {
  background-color: rgb(122,88,72);
}
.type-ground {
  background-color: rgb(234,214,164);
}
.type-poison {
  background-color: rgb(176,88,160);
}
.type-flying {
  background-color: rgb(152,168,240);
}

#pokedex-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#pokedex {
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  width: 90%;
}                         
.transUp{
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}
.transUp:hover{
  transform: translatey(-10px);
      -webkit-transform: translatey(-10px);
      -moz-transform: translatey(-10px);
}            
.rotate {
  animation-name: rotate;
  animation-duration: 1s;
  
  width: 20%;
  margin-top: 200px;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.nav-area {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  width: 100%;
  align-items: center;
}
.filter {
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.browser {
  height: 3rem;
  width: 70%;
  max-width: 10px;
  padding: 0.25em 0.5em;
  border-radius: 2em;
  border: none;
}

.hidden {
  display: none;
}

.home {
  width: 5rem;
  margin-right: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}

@media (min-width: 375px) {
  .container {
    padding-top: 7rem;
  }
  .browser {
    min-width: 13rem;
    margin-right: 3rem;
  }
  .nav-area {
    position: fixed;
    z-index: 1;
    justify-content: space-between;
  }
  #pokedex {
    transform: translate(3.5rem);
  }
  #types-area {
    transform: translate(-1rem);
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 30%;
  }
  #types-area::-webkit-scrollbar {
    display: none;
  }
  #pokedex-area {
    width: 70%
  }
}

@media (min-width: 576px) {
  .transRight{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
  }
  .transRight:hover{
    transform: translatex(20px);
        -webkit-transform: translatex(20px);
        -moz-transform: translatex(20px);
  }
  .card {
    height: 20rem;
  }
  .stats-area {
    display: none;
  }
}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) {
 
}
@media (min-width: 1200px) {
  
}