body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e8e8e8;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

  /*Defino como va a ser el nav*/
header {
    width: 100%;
}
.nav-area {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  background-color: white;
  z-index: 2;
  padding: 0.5rem 0;
  justify-content: space-between;
  align-items: flex-end;
}
.logo {
  width: 150px;
  cursor: pointer;
  margin-left: 1.75rem;
}

  /* Zona de combate */
.container {
  max-width: 900px;
  min-width: 900px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}
.player-one-pokemon {
  position: absolute;
  z-index: 1;
  bottom: -8%; 
  left: 5%; 
  width: 300px; 
}
.player-two-pokemon {
  position: absolute;
  z-index: 1;
  top: 20%; 
  right: 9%; 
  width: 300px; 
}
.combat-area-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

