body {
    background-color: #2e3845;
    margin: 0;
    font-family: "Rubik", sans-serif;
    color: white;
  }
  .container {
    padding: 40px;
    margin: 0 auto;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
  }
  .card {
    list-style: none;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
    border-radius: 20px;
    max-width: 20rem;
    position: relative;
  }
  .card-id {
    /* Hacerlo traslucido y grande a la derecha*/
  }
  .card-id-container {
    background-color: #78C850;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 10rem;
  }
  .card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
  }
  .card-image {
    height: 180px;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
  }
  #pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }
  .card:hover {
    animation: bounce 0.5s linear;
  }
  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }